.home-main-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh; /* 100% of the viewport height */
}
.home-con {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .home-con {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    align-items: center;
    width:100%;
  }
  img {
    width:350px;
    height:350px;
    
  }
  .text-con {
    width:auto;
    width:100%;
    padding-right:0px;
    display:flex;
    justify-content: flex-start;
    padding-left:20px;
  }
}
.text-con {
  display: flex;
  align-items: center;
  font-size: 60px;
}
.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
  .main-name {
    color:rgb(225, 27, 225);
  }